<head><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></head>
<div class="example-container">
  <mat-toolbar id="barra" color="warn">
    <img src="https://www.freeiconspng.com/uploads/file-pokeball-png-0.png" id="logoPoke">
    <button mat-icon-button color="white" aria-label="menu" (click)="snav.toggle()">  
      <mat-icon>menu</mat-icon>  
   </button>
   <span>PokemonDex</span>
   <router-outlet></router-outlet>
  </mat-toolbar>
  <mat-drawer-container class="example-container" autosize>

  <mat-drawer #snav class="example-sidenav" mode="side">
    <mat-nav-list>
    <a mat-list-item routerLink="/inicio">Inicio</a>
    <a mat-list-item routerLink="/region">Regiones</a>
    <a mat-list-item routerLink="/habilidad">Movimientos</a>
   </mat-nav-list>
  </mat-drawer>
  <mat-card class="card">
  
    <mat-card-header>
      <img mat-card-avatar class="header-image" src="{{pokemonImg}}">
      <mat-card-title id="titulo">{{pokemon.name}}</mat-card-title>
      <mat-card-subtitle id="sub">Nº {{pokemon.id}}</mat-card-subtitle>
    </mat-card-header>
  
    <img mat-card-image src="{{pokemonImg}}" alt="pokemon">
  
    <mat-card-content>
      <mat-chip-listbox>
        <mat-chip color="primary">Type: {{pokemonType}} {{pokemonType2}}</mat-chip>
        <mat-chip color="primary">Height: {{pokemon.height}}</mat-chip>
        <mat-chip color="primary">Weight: {{pokemon.weight}}</mat-chip>
      </mat-chip-listbox>
    </mat-card-content>
  
  </mat-card>
  </mat-drawer-container>
</div>

