<head><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></head>
<div class="example-container">
  <mat-toolbar id="barra" color="warn">
    <img src="https://www.freeiconspng.com/uploads/file-pokeball-png-0.png" id="logoPoke">
    <button mat-icon-button color="white" aria-label="menu" (click)="snav.toggle()">  
      <mat-icon>menu</mat-icon>  
   </button>
   <span>PokemonDex</span>
   <router-outlet></router-outlet>
  </mat-toolbar>
  <mat-drawer-container class="example-container" autosize>

  <mat-drawer #snav class="example-sidenav" mode="side">
    <mat-nav-list>
    <a mat-list-item routerLink="/inicio">Inicio</a>
    <a mat-list-item routerLink="/pokemon/pikachu">Pokemon</a>
    <a mat-list-item routerLink="/region/kanto">Regiones</a>
    <a mat-list-item routerLink="/habilidad/tackle">Movimientos</a>
   </mat-nav-list>
  </mat-drawer>
  <div id="busqueda">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Ingrese un pokemon</mat-label>
        <input matInput placeholder="Ex. Pikachu" #buscar>
      </mat-form-field>
      <button (click)="getPokemon(buscar.value)" class="buscar" mat-raised-button color="warn">Buscar</button>
    </form>
  </div>
  <mat-card class="card">

    <mat-card>
      <mat-card-content>
        Esta es la informacion del pokemon que buscaste.
        En esta seccion podrás ver la información de un pokemon, incluyendo sus tipos, 
        su aspecto y otros como peso y altura
      </mat-card-content>
    </mat-card>
  
    <mat-card-header>
      <img mat-card-avatar class="header-image" src="{{pokemonImg}}">
      <mat-card-title id="titulo">{{pokemon.name}}</mat-card-title>
      <mat-card-subtitle id="sub">Nº {{pokemon.id}}</mat-card-subtitle>
    </mat-card-header>
  
    <img mat-card-image src="{{pokemonImg}}" alt="pokemon">
  
    <mat-card-content id="data">
      <mat-chip-listbox>
        <mat-chip color="primary">Type: {{pokemonType}} {{pokemonType2}}</mat-chip>
        <mat-chip color="primary">Height: {{pokemon.height}}</mat-chip>
        <mat-chip color="primary">Weight: {{pokemon.weight}}</mat-chip>
      </mat-chip-listbox>
    </mat-card-content>
  
  </mat-card>
  </mat-drawer-container>
  <div id="stats">
    <mat-list>
      <mat-list-item>Hp: {{stats[0]}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Attack: {{stats[1]}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Defense: {{stats[2]}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Sp.attack: {{stats[3]}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Sp.defense: {{stats[4]}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Speed: {{stats[5]}}</mat-list-item>
    </mat-list>
  </div>


</div>


