<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>Portafolio DAWM</title>
    <div class="flex-container">
      <div><img src="https://images.squarespace-cdn.com/content/v1/55d9fb0ee4b0dfd798034243/1559091141481-21H2UVPNSEEONRXMW4R8/Logo+ESPOL+solo.png?format=500w" alt="imagenespol" width="300" height="70"></div>
      <div><h1 style="padding:10px ;">Portafolio DAWM</h1><br><h2>Alan Villavicencio</h2></div>
    </div>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
    <h3>Acerca de</h3>
    <h3>Lenguajes de programacion</h3>
    <h3>Video sobre mi</h3>
    <h3>Ubicacion</h3>
    <h3>Contactame</h3>
  </nav>
  <body>
    <h2>Acerca de</h2><br>
    <div id="acerca">
      <section id="pAcerca"><p>Mi nombre es Alan Villavicencio, soy un estudiante de la ESPOL, en la carrera de computacion, me apasiona aprender nuevas cosas y espero poder mejorar cada dia como programador</p></section>
      <section id="mifoto"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgS-nfTqkp7rrC0d0Oynp1uhBJ8oMeswyXVQ&usqp=CAU" width="325" height="300"></section>
      <section id="habilidades">
      <ul>
        <li>Buena actitud</li>
        <li>Responsabilidad</li>
        <li>Buen manejo del tiempo</li>
        <li>Ingles B2</li>
      </ul>
      </section>
    </div>
    <h2>Lenguajes de Programacion</h2><br>
    <div id="lenguajes">

    </div>
    <div id="video">

    </div>
    <div id="ubi">
      
    </div>
    <div id="contactame">

    </div>
  </body>
</html>
