<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>Portafolio DAWM</title>
    <div class="flex-container">
      <div><h1 style="padding:10px ;">Portafolio DAWM</h1><br>
      <h1>Alan Villavicencio</h1></div>
    </div>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
    <div class="topnav">
      <a class="active" href="#home">Inicio</a>
      <a href="#acercademi">Acerca de</a>
      <a href="#lenguajesProg">Lenguajes de Programacion</a>
      <a href="#vid">Video sobre mi</a>
      <a href="#ubi">Ubicacion</a>
      <a href="#contactame">Contactame</a>
    </div>
  </nav>
  <body>
    <section id="acercademi">
    <h2>Acerca de</h2><br>
    <div id="acerca">
      <section id="pAcerca"><p>Mi nombre es Alan Villavicencio, soy un estudiante de la ESPOL, en la carrera de computacion, me apasiona aprender nuevas cosas y espero poder mejorar cada dia como programador</p></section>
      <section id="mifoto"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgS-nfTqkp7rrC0d0Oynp1uhBJ8oMeswyXVQ&usqp=CAU" width="325" height="300"></section>
      <section id="habilidades">
      <ul>
        <h3>Habilidades personales:</h3>
        <li>Buena actitud</li>
        <li>Responsabilidad</li>
        <li>Buen manejo del tiempo</li>
        <li>Ingles B2</li>
      </ul>
      </section>
    </section>
    <section id="lenguajesProg">
    </div>
    <h2>Lenguajes de Programacion</h2><br>
    <div id="lenguajes">
      <section>
        <table border="1" align="center">
          <tr>
            <th>L / %</th>
            <th>25%</th>
            <th>50%</th>
            <th>75%</th>
            <th>100%</th>
          </tr>
          <tr>
            <th>Python</th>
            <td></td>
            <td><img src="https://media.istockphoto.com/vectors/green-tick-and-confirm-icon-vector-design-vector-id1204658131?k=20&m=1204658131&s=612x612&w=0&h=pQyLoRQhyFA-sbSt8RZTOLN-cC7rrQHviej0COvvoI8=" width="50" height="50"></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>Java</th>
            <td></td>
            <td></td>
            <td><img src="https://media.istockphoto.com/vectors/green-tick-and-confirm-icon-vector-design-vector-id1204658131?k=20&m=1204658131&s=612x612&w=0&h=pQyLoRQhyFA-sbSt8RZTOLN-cC7rrQHviej0COvvoI8=" width="50" height="50"></td>
            <td></td>
          </tr>
          <tr>
            <th>C</th>
            <td></td>
            <td><img src="https://media.istockphoto.com/vectors/green-tick-and-confirm-icon-vector-design-vector-id1204658131?k=20&m=1204658131&s=612x612&w=0&h=pQyLoRQhyFA-sbSt8RZTOLN-cC7rrQHviej0COvvoI8=" width="50" height="50"></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>C#</th>
            <td></td>
            <td><img src="https://media.istockphoto.com/vectors/green-tick-and-confirm-icon-vector-design-vector-id1204658131?k=20&m=1204658131&s=612x612&w=0&h=pQyLoRQhyFA-sbSt8RZTOLN-cC7rrQHviej0COvvoI8=" width="50" height="50"></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </section>
    </div>
    </section>
    <section id="vid">
      <h2>Video sobre mi</h2>
    <div id="video">
      <video width="320" height="240" controls="yes">
        <source src="media/video.mp4" type="video/mp4">
      </video>
    </div>
    </section>
    <section id="mapa">
    <div id="ubi">
      <h2>Donde encontrarme</h2><br>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.0236659024326!2d-79.97007248465559!3d-2.1446206377710255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d7303bb0133cd%3A0x66c18bd9810f31cb!2sFacultad%20de%20Ingenier%C3%ADa%20en%20Electricidad%20y%20Computaci%C3%B3n%20FIEC%20-%20ESPOL!5e0!3m2!1ses-419!2sec!4v1666568283848!5m2!1ses-419!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </section>
    <section id="contacto">
      <div id="contactame">
        <h2>Contactame</h2><br>
        <form id="formulario">
          <label for="nombre">Nombre y apellido:</label><br><input id="nombre" name="nombre" required="required" size="40"><br>
          <label for="asunto">Asunto:</label><br><input id="asunto" name="asunto" required="required" size="40"><br>
          <label for="correo">Correo electronico:</label><br><input id="correo" name="correo" required="required" size="40"><br>
          <label for="mensaje">Mensaje:</label><br><textarea id="mensaje" name="mensaje" rows="10" cols="40"></textarea><br>
          <button type="submit" name="enviar">Enviar</button>
          <button type="reset" name="reiniciar">Cancelar</button>
        </form>
      </div>
    </section>
  </body>
  <footer>
    <div class="pie">
      <p>Encuentrame en:
      <a href="https://www.linkedin.com/in/alan-villavicencio-51a040232/"><img border="0" alt="linkedin" src="media/174857.png" width="100" height="50"></a>
      <a href="https://github.com/afvillav"><img border="0" alt="github" src="media/pngegg.png" width="100" height="50"></a>
    </p>
    </div>
  </footer>
</html>
