<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <style>
      .flex-container {
        display: flex;
        justify-content:left;
        align-items: center;
        background-color: rgb(255, 255, 255);
      }
     
      .flex-container > div {
        background-color: #ffffff;
        margin: 10px;
        padding: 10px;
        font-size: 15px;
      }
      </style>
    <title>Portafolio DAWM</title>
    <ul>
      <li>Acerca de</li>
      <li>Lenguajes de programacion</li>
      <li>Video sobre mi</li>
      <li>Ubicacion</li>
      <li>Contactame</li>
    </ul>
    <div class="flex-container">
      <div><img src="https://images.squarespace-cdn.com/content/v1/55d9fb0ee4b0dfd798034243/1559091141481-21H2UVPNSEEONRXMW4R8/Logo+ESPOL+solo.png?format=500w" alt="imagenespol" width="300" height="70"></div>
      <div><h1 style="padding:10px ;">Portafolio DAWM</h1><br><h2>Alan Villavicencio</h2></div>
    </div>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to <%= title %></p>
  </body>
</html>
